
.card-image {
  width: 250px; 
  height: 200px;
  object-fit: cover;

}

.card-caption {
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
} 