body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

.navbar {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  text-align: center; /* Align nav items to the center */
}

.navbar a {
  display: inline-block; /* Change to inline-block for center alignment */
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

input {
  margin: 10px auto; /* Auto for horizontal centering */
  display: block; /* Block to fill width */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  width: 50%; /* Adjust width as necessary */
  font-family: 'Roboto', sans-serif; /* Modern font */
}
/* Style for individual buttons */
.modal-button {
  padding: 10px 20px; /* Padding inside the buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold; /* Makes text inside buttons bold */
}
button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #aaa; /* Neutral gray */
  color: white;
  border: none;
  margin: 0 auto; /* Auto for horizontal centering */
  display: block; /* Block to fill width */
}

button:hover {
  background-color: #888; /* Darker gray on hover */
}

h1, h2 {
  font-size: 24px;
  color: #333;
  text-align: center; /* Centered text */
  margin-top: 0;
  padding: 20px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 20px;
  align-items: start; /* Align items to the start of the grid area */
}



.image-container .image-item {
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.image-container img {
  width: 100%;
  height: 200px; /* Fixed height, if you want all images to be the same height */
  object-fit: cover; /* This will cover the area, cropping the image if necessary */
}

.caption {
  display: none; /* Hide the caption initially */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.image-item:hover .caption {
  display: block; /* Show the caption on hover */
}

/* styling heart icon */
.image-item {
  position: relative;
  /* ... other styles ... */
}

.heart-icon {
  position: absolute;
  top: 8px; /* Adjust as needed */
  right: 8px; /* Adjust as needed */
  width: 30px; /* Adjust width for a smaller heart icon */
  height: 30px; /* Adjust height for a smaller heart icon */
  cursor: pointer;
  /* ... other styles, like width or height if needed ... */
}

.image-container .image-item img.unsplash-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-container .image-item img.heart-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* Reset any specific styles if needed, e.g., object-fit, if it's not applicable */
  object-fit: contain; /* or 'initial' */
}


/* Add this CSS to your existing styles.css */

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 20px;
  align-items: start; /* Align items to the start of the grid area */
}

.video-container .video-item {
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.video-container video {
  width: 100%;
  height: 200px; /* Fixed height, adjust as needed */
  object-fit: cover; /* This will cover the area, cropping the video if necessary */
}

.video-item p {
  display: none; /* Hide the user name initially */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.video-item:hover p {
  display: block; /* Show the user name on hover */
}

/* CSS for Card Component */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  position: relative;
  min-height: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
.card-icons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  /* other styles */
}

.icon {
  width: 24px; /* or the size you want */
  height: 24px; /* or the size you want */
  margin-left: 10px; /* give some space between icons */
  cursor: pointer;
}

.edit-icon {
  /* additional styling specific to edit icon if necessary */
}

.delete-icon {
  /* additional styling specific to delete icon if necessary */
}

.card-image {
  width: 100%;
  height: auto;
  padding: 17px;
  box-sizing: border-box;
}
.card-caption {
  /* styling for caption text */
}

/* modal styling */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is above other elements */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 50%; /* Adjust the width as needed */
  max-width: 600px; /* Set a max-width if desired */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-content input[type="text"] {
  width: 100%; /* Full width of the modal */
  margin-bottom: 10px; /* Spacing between the input fields */
  padding: 10px;
  box-sizing: border-box; /* Include padding in the width */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-button-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* This adds space between buttons */
  margin-top: 15px; /* Add some space above the button container */
}


/* Primary action button styles */
.modal-button-primary {
  background-color: #007bff;
  color: white;
}

/* Secondary action button styles (e.g., cancel/close) */
.modal-button-secondary {
  background-color: #f8f9fa;
  color: #333;
}

/* Hover effect for primary button */
.modal-button-primary:hover {
  background-color: #0056b3;
}

/* Hover effect for secondary button */
.modal-button-secondary:hover {
  background-color: #e2e6ea;
}




.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black; /* This will be covered by the background image */
  background: url('moodboard.gif') center center / cover no-repeat;
  /* Removed min-height to allow natural content flow */
}







.team {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: for better visibility */
  color: #6ea3dc;
  margin-top: auto;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%; /* Make it circular */
  margin-bottom: 10px;
}

.team-member h3 {
  margin: 5px 0;
}

.team-member a {
  color: #db5757;
  text-decoration: none;
  font-weight: bold;
}

.team-member a:hover {
  color: #007bff; /* Change color on hover */
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Align content to the bottom */
  min-height: 100vh; /* Minimum height to take the full viewport height */
  background-color: black;
  overflow: hidden;
  background: url('moodboard.gif') center center / cover no-repeat;
  padding-bottom: 20px; /* Add some padding at the bottom */
}
