body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #3a436c;
}

.navbar {
  background-color: #03081f;
  overflow: hidden;
}

.navbar a {
  float: right;
  display: block;
  color: #ee5b5b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(111, 98, 170);
  color: black;
}

input {
  margin: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}